---
layout: default
---



{% assign thephrases = site.data.phrases | where:"month",page.month  %}
{% for row in thephrases %}
	{% if row.audio %}
		{% assign theaudio = row.audio %}
	{% else %}
		{% if row.secnum.size == 1 %}
			{% assign category = row.secnum | prepend: "0" %}
		{% else %}
			{% assign category = row.secnum %}
		{% endif %}
		{% if row.order.size == 1 %}
			{% assign track = row.order | prepend: "0" %}
		{% else %}
			{% assign track = row.order %}
		{% endif %}
		{% assign theaudio = category | prepend: "exp-" | append: "-" | append: track | append: ".mp3" %}
	{% endif %}
	<div class="audiobox">
	<div class="text">
		 <span class="tnc">{{row.den}}</span><br/>
		<span class="gloss">{{row.eng}}</span>
	</div>
   <div class="audio"><audio src="{{site.baseurl}}/{{site.audiopath}}/{{theaudio}}" controls type="audio/mpeg">Your browser does not support the audio tag.</audio>
   <!-- <br/>{{site.baseurl}}/{{site.audiopath}}/{{theaudio}}  -->
   </div></div> 
	<hr/>
{% endfor %}
