---
layout: default
---


{{content}}


{% if page.has_children %}
	{% assign thesection = 1 %}
	{% assign themonthname = page.title %}
{% else %}
	{% assign thesection = page.section %}
	{% assign themonthname = page.parent %}
{% endif %}


{% assign thelessons = site.data.lessons | where:"month",page.month | where:"lesson",thesection | first %}
<h2> {{ thesection | append: ". " | append: thelessons.title }}</h2>

<hr>

{% assign thephrases = site.data.phrases | where:"month",page.month | where: "lesson",thesection %}
{% for row in thephrases %}
	{% if row.audio %}
		{% assign theaudio = row.audio %}
	{% else %}
		{% if row.secnum.size == 1 %}
			{% assign category = row.secnum | prepend: "0" %}
		{% else %}
			{% assign category = row.secnum %}
		{% endif %}
		{% if row.order.size == 1 %}
			{% assign track = row.order | prepend: "0" %}
		{% else %}
			{% assign track = row.order %}
		{% endif %}
		{% assign audio_prefix = themonthname | downcase | truncate:3, "" | append: "-" %}
		{% assign theaudio = category | prepend: audio_prefix | append: "-" | append: track | append: ".mp3" %}
	{% endif %}
	<div class="audiobox">
	<div class="text">
		<span class="tnc">{{row.den}}</span><br/>
		<span class="gloss">{{row.eng}}</span>
	</div>
   <div class="audio"><audio src="{{site.baseurl}}/{{site.audiopath}}/{{theaudio}}" controls type="audio/mpeg">Your browser does not support the audio tag.</audio>
   <!-- <br/>{{site.baseurl}}/{{site.audiopath}}/{{theaudio}}  -->
   </div></div> 
	<hr/>
{% endfor %}


{% assign themonth = site.data.months | where:"number",page.month | first %}
{% if thesection > 1 %}
	{% assign prevsection = thesection | minus: 1 %}
	{% assign prevmonthshort = themonth.short %}
{% else %}
	{% if page.month > 1 %}
		{% assign prevmonth = page.month | minus:1 %}
	{% else %}
		{% assign prevmonth = site.number_lessons %}
	{% endif %}
	{% assign thelessons = site.data.lessons | where: "month",prevmonth | sort:"lesson" | last %}
	{% assign prevsection = thelessons.lesson %}
	{% assign prevmonthshort =  themonth.prev %}
{% endif %}
{% assign prevlink =  prevmonthshort  | append: prevsection | append: ".md" | prepend: "lessons/" %}

{% comment %} Get highest lesson number {% endcomment %}
{% assign thelessons = site.data.lessons | where: "month",page.month | sort:"lesson" | last %}
{% assign maxsection = thelessons.lesson | to_integer %}
{% if thesection < maxsection %}
	{% assign nextsection = thesection | plus:1 %}
	{% assign nextmonthshort = themonth.short %}
{% else %}
  {% if page.month < site.number_lessons %}
  	{% assign nextmonth = page.month | plus: 1 %}
  {% else %}
  	{% assign nextmonth = 1 %}
  {% endif %}
  {% assign nextsection = 1 %}
  {% assign nextmonthshort = themonth.next %}
{% endif %}
{% assign nextlink =  nextmonthshort  | append: nextsection | append: ".md" | prepend: "lessons/" %}


<div class="PageNavigation">

		<a class="prev" href="{% link  {{prevlink}} %}">&laquo; Prev </a>

		<a class="next" href="{% link {{nextlink}}  %}"> Next &raquo;</a>
</div>

